.content-main {
    width: 100%;
    height: min-content;
    background-color: #ffffff;
}

.div-title-main {
    height: 4.375rem;
    background-color: #ed564b;
    color: #ffffff;
    text-align: center;
}

.title-main {
    padding-top: 0.9375rem;
}

.content-characters {
    padding: 0.625rem;
}

.row-char {
    height: 18.75rem;
    display: flex;
    margin-bottom: 0.625rem;
}

.col-custom-30 {
    width: 30%;
    padding: 0.3125rem;
    text-align: center;
    border: 0.125rem solid rgb(211, 211, 211);
}

.col-custom-70 {
    width: 70%;
    padding: 0.3125rem;
    border: 0.125rem solid rgb(211, 211, 211);
}

.container-text-char {
    height: 100%;
    padding: 0.3125rem 0.625rem;
}

.title-col-char {
    text-decoration: underline;
    margin-bottom: 1.5625rem;
}

.text-col-char {
    text-align: justify;
}

.paginator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.375rem;
}

.paginator-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.paginator-item {
    padding: 0.5rem;
    font-size: 1.125rem;
    border: 0.0625rem solid #000;
    border-radius: 0.3125rem;
}

.paginator-link {
    text-decoration: none;
    color: inherit;
    margin: 0 0.15rem;
}

.paginator-link:hover {
    background-color: #ed564b;
    color: #fff;
    border-radius: 0.3125rem;
}

.paginator-link-active {
    background-color: #ed564b;
    color: #fff;
    border-radius: 0.3125rem;
}

.img-char-1 {
    width: 11.25rem;
    height: 16.875rem;
}

.img-char-2 {
    width: 11.25rem;
    height: 15.625rem;
}

.img-char-3 {
    width: 9.375rem;
    height: 16.875rem;
}

.img-char-4 {
    width: 16.25rem;
    height: 16.875rem;
}

.img-char-5 {
    width: 16.875rem;
    height: 17.5rem;
}

.ty-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* FOR PHONE ONLY */
@media only screen and (max-width: 599px) {
    .row-char {
        height: 100%;
        display: block;
        margin-bottom: 1.5rem;
    }

    .col-custom-30 {
        border-top: 0.125rem solid rgb(211, 211, 211);
        border-right: 0.125rem solid rgb(211, 211, 211);
        border-left: 0.125rem solid rgb(211, 211, 211);
        border-bottom: none;
    }

    .col-custom-30,
    .col-custom-70 {
        width: 100%;
    }

    .center-vertical-content {
        transform: none;
    }
}
