<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../navbar.css">
    <link rel="stylesheet" href="../css/about.css">

    <title>Caverna do herói - Sobre</title>
</head>

<body>
    <!-- NAVBAR -->
    <div class="container-fluid">
        <nav class="navbar-top">
            <div class="navbar-container">
                <div class="section-logo">
                    <img src="../images/logo.png" alt="logo" class="img-logo">
                </div>
                <!-- TOGGLER -->
                <label class="btn-toggle" for="menu-toggle">
                    <span><i class="fas fa-bars"></i></span>
                </label>
            </div>

            <input type="checkbox" id="menu-toggle" />

            <div class="nav-links">
                <a class="link-item" href="../index.html">Home</a>
                <a class="link-item" href="history.html">História</a>
                <a class="link-item" href="characters.html">Personagens</a>
                <a class="link-item" href="gallery.html">Galeria</a>
                <a class="link-item" href="trailers.html">Trailers</a>
                <a class="link-item" href="contact.html">Contato</a>
                <a class="link-item active" href="about.html">Sobre</a>
            </div>
        </nav>
    </div>

    <!-- CONTAINER DO CONTEÚDO PRINCIPAL -->
    <div class="container">
        <div class="content-main">

            <!-- DIV TÍTULO PRINCIPAL -->
            <div class="div-title-main">
                <div class="title-main">
                    <span class="title-1 font-Chelsea">Sobre</span>
                </div>
            </div>

            <div class="content-about">
                <div>
                    <h2>Caro visitante,</h2>
                </div>

                <div class="text-justify">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto eveniet id, minima aliquid modi
                        praesentium assumenda delectus consectetur sint unde eum neque labore fugiat consequuntur
                        perspiciatis aspernatur dolore provident placeat.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quaerat modi cupiditate,
                        recusandae porro nesciunt id ab ex officiis unde quis tempora, temporibus sed sunt, alias eaque
                        rem cumque inventore.Dolor adipisci similique omnis dolore,
                        delectus accusamus fugit assumenda molestiae ipsa nisi laudantium deleniti sunt sed quod.
                        Similique cumque ipsam ea officia!
                    </p>

                    <p>
                        Aliquam quaerat modi cupiditate,
                        recusandae porro nesciunt id ab ex officiis unde quis tempora, temporibus sed sunt, alias eaque
                        rem cumque inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="mt-3">
                    <p class="text-italic">Agradecimentos de toda a equipe!</p>
                </div>
            </div>

        </div>

        <!-- RODAPÉ -->
        <div class="div-footer">
            <div class="content-footer center-vertical-content">
                <span class="title-4">My hero academia &copy; 2022 | Todos os direitos reservados.</span>
            </div>
        </div>

    </div>

</body>

</html>