<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../css/history.css">

    <title>Caverna do herói - História</title>
</head>

<body>
    <!-- NAVBAR -->
    <div class="container-fluid">
        <nav class="navbar-top">
            <div class="section-logo">
                <img src="../images/logo.png" alt="logo" class="img-logo">
            </div>
            <div class="nav-links">
                <a class="link-item" href="../index.html">Home</a>
                <a class="link-item active" href="history.html">História</a>
                <a class="link-item" href="characters.html">Personagens</a>
                <a class="link-item" href="gallery.html">Galeria</a>
                <a class="link-item" href="trailers.html">Trailers</a>
                <a class="link-item" href="contact.html">Contato</a>
                <a class="link-item" href="about.html">Sobre</a>
            </div>
        </nav>
    </div>

    <!-- CONTAINER DO CONTEÚDO PRINCIPAL -->
    <div class="container">
        <div class="content-main">

            <!-- DIV TÍTULO PRINCIPAL -->
            <div class="div-title-main">
                <div class="title-main">
                    <span class="title-1 font-Chelsea">História</span>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-custom-50">
                        <div class="container-text-1">
                            <div class="title-text">
                                <span class="title-2">My Hero Academia</span>
                                <hr>
                            </div>

                            <div class="content-text">
                                <!-- <p>
                                    Boku no Hero Academia (僕ぼくのヒーローアカデミア Boku no Hīrō Akademia?, lit. "Minha Academia de
                                    Heróis"), também conhecido como My Hero Academia no ocidente, é uma série de mangá
                                    escrita e ilustrada por Kōhei Horikoshi. Os capítulos do mangá são publicados na
                                    revista Weekly Shōnen Jump desde julho de 2014, sendo compilados em volumes
                                    formato tankōbon pela editora Shueisha.
                                </p> -->
                                <p>
                                    A história segue Izuku Midoriya, um menino que nasceu sem individualidade em mundo
                                    que é normal tê-los, mas mesmo assim sonha em se tornar um super-herói. Após ajudar
                                    o maior herói do mundo, que fica fraco depois de um tempo por causa de um ferimento,
                                    a capturar um vilão, este compartilha os seus poderes, o One for All, com Izuku
                                    depois de reconhecer o seu valor e o ajuda a se matricular em uma escola para heróis
                                    em formação( a U.A)
                                </p>
                                <p>
                                    O mangá foi adaptado em uma série de anime produzida pelo estúdio Bones; a primeira
                                    temporada foi ao ar entre 3 de abril e 26 de junho de 2016; a segunda temporada
                                    estreou em abril de 2017, a terceira temporada estreou em 7 de abril de
                                    2018, a quarta temporada estreou em outubro de 2019 e quinta temporada está
                                    confirmada para 2021.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-custom-50">
                        <img src="../images/together.png" alt="equipe My hero academia" class="img-MHA">
                    </div>
                </div>
            </div>

            <!-- DIV ENREDO -->
            <div>
                <div class="row">
                    <div class="container-text-1">
                        <div class="title-text">
                            <span class="title-2">Enredo</span>
                            <hr>
                        </div>

                        <div class="content-text">
                            <p>
                                Em um mundo onde 80% da população mundial possuem super poderes, o tímido estudante
                                Midoriya Izuku teve a infelicidade de nascer sem poderes. Grande fã do sorridente All
                                Might, o herói conhecido como o símbolo da paz, Izuku, sofre com a frustração de saber
                                que jamais terá uma individualidade especial para que possa se tornar, assim como seu
                                grande ídolo, em um defensor dos fracos e oprimidos.
                            </p>
                            <p>
                                Mesmo sofrendo bullying por seus amigos de escola, como o arrogante Katsuki, o garoto
                                nunca abandonou o herói existente dentro de si. Gentil e generoso, ele está sempre
                                pronto a ajudar quem precisa.
                            </p>
                            <p>
                                Porém, um inesperado encontro irá mudar o destino de Izuku. Destino esse que o levará a
                                ingressar no tão sonhado colégio U.A., instituição para onde os grandes heróis vão
                                estudam e treinam. A partir daí, as cortinas de uma fantástica aventura repleta de
                                personagens cativantes e temerosos vilões se abrem para o jovem Midoriya!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIV MANGÁS -->
            <div>
                <div class="row">
                    <div class="col-custom-70">
                        <div class="container-text-1">
                            <div class="title-text">
                                <span class="title-2">Mangás</span>
                                <hr>
                            </div>

                            <div class="content-text">
                                <p>
                                    Boku no Hero Academia é uma série de mangá é escrita e ilustrada por Kōhei
                                    Horikoshi. E
                                    começou a ter os seus capítulos serializados na revista semanal Weekly Shōnen Jump
                                    em
                                    julho de 2014, com os capítulos da série sendo compilados e publicados pela editora
                                    Shueisha em volumes de formato tankōbon. No Brasil, o mangá é licenciado e publicado
                                    pela editora JBC desde outubro de 2016. Em Portugal, o mangá é publicado pela
                                    Editora Devir desde 26 de outubro de 2018.
                                </p>
                                <p>
                                    Publicado no Japão em novembro de 2015, o spin-off Boku no Hero Academia Smash!!
                                    (僕のヒーローアカデミアすまっしゅ!! Boku no Hīrō Akademia Sumasshu!!?) apresenta em cada volume um
                                    conjunto de tirinhas cômicas com os personagens estilizados no formato reduzido
                                    chibi,
                                    finalizado com 5 volumes com cerca de 128 paginas cada. No Brasil, o mangá é
                                    licenciado e distribuído pela editora JBC.
                                </p>
                                <p>
                                    Revelada na edição da semana 14 de julho de 2019 na Weekly Shōnen Jump seu terceiro
                                    spin-off da franquia, Boku no Hero Academia: Team Up Mission estreou em 25 de julho
                                    de 2019 na revista Jump Giga, as demais edições foram publicadas pela revista
                                    Saikyou Jump, a partir do dia 2 de agosto de 2019, ambas da editora Shueisha. Este
                                    mangá comemora os cinco anos da série principal.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- IMAGEM CAPA MANGÁ -->
                    <div class="col-custom-30">
                        <img src="../images/manga.png" alt="imagem capa do mangá my hero academia" class="img-manga">
                    </div>


                </div>
            </div>

        </div>

        <!-- RODAPÉ -->
        <div class="div-footer">
            <div class="content-footer center-vertical-content">
                <span class="title-4">My hero academia &copy; 2021 | Todos os direitos reservados.</span>
            </div>
        </div>

    </div>

</body>

</html>