<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../navbar.css">
    <link rel="stylesheet" href="../css/trailers.css">

    <title>Caverna do herói - Trailers</title>
</head>

<body>
    <!-- NAVBAR -->
    <div class="container-fluid">
        <nav class="navbar-top">
            <div class="navbar-container">
                <div class="section-logo">
                    <img src="../images/logo.png" alt="logo" class="img-logo">
                </div>
                <!-- TOGGLER -->
                <label class="btn-toggle" for="menu-toggle">
                    <span><i class="fas fa-bars"></i></span>
                </label>
            </div>

            <input type="checkbox" id="menu-toggle" />

            <div class="nav-links">
                <a class="link-item" href="../index.html">Home</a>
                <a class="link-item" href="history.html">História</a>
                <a class="link-item" href="characters.html">Personagens</a>
                <a class="link-item" href="gallery.html">Galeria</a>
                <a class="link-item active" href="trailers.html">Trailers</a>
                <a class="link-item" href="contact.html">Contato</a>
                <a class="link-item" href="about.html">Sobre</a>
            </div>
        </nav>
    </div>

    <!-- CONTAINER DO CONTEÚDO PRINCIPAL -->
    <div class="container">
        <div class="content-main">

            <!-- DIV TÍTULO PRINCIPAL -->
            <div class="div-title-main">
                <div class="title-main">
                    <span class="title-1 font-Chelsea">Trailers</span>
                </div>
            </div>

            <div>

                <!-- DIV TRAILER 1 -->
                <div class="row-trailer">
                    <div class="col-custom-100">
                        <iframe class="iframe-trailer" src="https://www.youtube.com/embed/ShmnBvtN21E"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="trailer-descripton-container">
                            <span class="title-2 title-iframe">My Hero Academia - Temporada 5 | TRAILER OFICIAL</span>
                            <span><strong>Data de Lançamento:</strong> 2021</span>
                        </div>
                    </div>
                </div>
                <!-- FIM DIV TRAILER 1 -->

                <!-- DIV TRAILER 2 -->
                <div class="row-trailer">
                    <div class="col-custom-100">
                        <iframe class="iframe-trailer" src="https://www.youtube.com/embed/3Ec6aZjaZfI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="trailer-descripton-container">
                            <span class="title-2 title-iframe">My Hero Academia - Temporada 4 | TRAILER OFICIAL</span>
                            <span><strong>Data de Lançamento:</strong> 2019</span>
                        </div>
                    </div>
                </div>
                <!-- FIM DIV TRAILER 2 -->

                <!-- DIV TRAILER 3 -->
                <div class="row-trailer">
                    <div class="col-custom-100">
                        <iframe class="iframe-trailer" src="https://www.youtube.com/embed/PMcVuTc7ihg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="trailer-descripton-container">
                            <span class="title-2 title-iframe">Hero Too: A Turma 1-A Sobe no Palco! | My Hero Academia</span>
                            <span><strong>Data de Lançamento:</strong> 2020</span>
                        </div>
                    </div>
                </div>
                <!-- FIM DIV TRAILER 3 -->

            </div>

        </div>

        <!-- RODAPÉ -->
        <div class="div-footer">
            <div class="content-footer center-vertical-content">
                <span class="title-4">My hero academia &copy; 2022 | Todos os direitos reservados.</span>
            </div>
        </div>

    </div>

</body>

</html>